h1 {
    background-image: url(
        ./resources/pattern.jpeg
    );
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
}

#brush, #frame, #paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}


h3, p {
    font-family: Helvetica;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.price {
    font-weight: bold;
    color: blue;
}
